<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Acerca De</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="Helen" src="assets/yo.jpeg" />
    <ion-card-header>
      <ion-card-title>Helen Marie Rosario Lebron</ion-card-title>
      <ion-card-subtitle>2020-10967</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Twitter: helxnt
      Correo: helenrosario0208@gmail.com
    </ion-card-content>
  </ion-card>
</ion-content>
